body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Montserrat";
  text-align: center;

  a {
    text-decoration: none;
    color: inherit;
  }
}

// NAVBAR
.navbar-container {
  display: flex;
  max-width: 100vw;
  padding: 20px 40px;
  background-color: #bf7eb4;
  border-bottom: 1px solid #ccc7c7;

  .navbar-logo {
    width: 100px;
  }

  .navbar-links-container {
    margin-left: auto;
    gap: 20px;
    display: flex;
    align-items: center;

    .navbar-link {
      font-size: 0.8rem;
      transition: 350ms;

      &:hover {
        color: #ccc7c7;
      }

      &.cta {
        background-color: #282828;
        color: #ccc7c7;
        padding: 10px 15px;

        &:hover {
          color: #282828;
          background-color: #ccc7c7;
        }
      }
    }
  }
}

//MAIN
.main-container {
  background-color: #bf7eb4;
  margin: 0;
  padding: 10vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  .main-title {
    // font-family: "Playfair display";
    margin: 0;
  }

  .main-text {
    width: 40%;
  }

  .main-action-btn {
    color: #ccc7c7;
    background-color: #282828;
    padding: 15px 50px;
    font-size: 0.8rem;
    transition: 500ms;

    &:hover {
      background-color: #ccc7c7;
      color: #282828;
    }
  }
}

// SECTION HERO IMG
.hero-img-container {
  border-top: 1px solid #ccc7c7;
  border-bottom: 1px solid #ccc7c7;

  padding: 20vh 0;
  background-color: #eec0c6;
  background-image: linear-gradient(#bf7eb4 35%, #4478a6 74%);

  .hero-img {
    height: 400px;
  }
}

//SPECIALS
.specials-container {
  display: grid;
  padding: 15vh 0;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background-color: #4478a6;

  .specials-card {
    background-color: #4478a6;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid #bf7eb4;
    padding: 25px;
    width: 300px;
    align-items: center;

    .card-image {
      height: auto;
      width: 300px;
    }

    .card-text,
    .card-price {
      margin: 0;
      width: 50%;
    }
  }
}

//FOOTER
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px;
  background-color: #4478a6;
  border-top: 1px solid #ccc7c7;
  font-size: 0.8rem;

  .footer-logo {
    width: 100px;
  }

  .footer-socials {
    gap: 20px;
    display: flex;

    .footer-social {
      transition: 300ms;

      &:hover {
        color: #ccc7c7;
      }
    }
  }
}
